.recent-transaction{
    margin: 20px;
    height: 250px;
    padding-top: 10px;
    width: 95%;
    border-radius: 25px;
    background-color: white;
}
.recent-invoice{
    margin: 20px;
    height: 350px;
    padding-top: 10px;
    margin-left: 30px;
    width: 95%;
    border-radius: 25px;
    background-color: white;
}
.transaction-card{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;

}
.invoice-img{
    margin-top: 10px;
    height: 60px;
    
}
.invoice-details{
    margin: 10px;
    /* background-color: black; */
    width: 48%;

}
.invoice-img img{
    background-color: rgb(233, 233, 240);
    padding: 20px;
    border-radius: 40%;
    cursor: pointer;
    margin-left: 10px;
   
}
/* .transaction-details{
    text-align: left;
} */
.invoice-details h3{
    margin-right: 10px;
    text-align: left;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.invoice-details p{
    text-align: left;
    font-size: 15px;
    margin-right: 10px;
    color: gray;
}

    .invoice-amount{
        /* margin-top: 10px; */
        margin-right: 20px;
       

    }
.invoice-amount p{
    font-size: 18px;
    font-weight: 700;
}
.credit p {
    color: rgb(0, 201, 0);
}

.debit p {
    color: rgb(177, 1, 1);
}
.invoice-amount{
    color: rgba(44, 39, 154, 0.902);
}